In [1]:
#AB_testing
import os
os.getcwd()
import pandas as pd
import numpy as np

In [2]:
subscriber = pd.read_csv('subscribers.csv')

In [3]:
subscriber.head()

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,...,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
0,162502,21724479,economy,NaN,comedy,access to exclusive content,NaN,NaN,NaN,False,...,NaN,ar,Standard Charter,14,True,1,2020-02-07 21:44:16,2020-06-07 21:44:16,NaN,True
1,380374,23383224,base,NaN,comedy,access to exclusive content,22.951579,NaN,70.0,False,...,0.3303,ar,NaN,14,True,1,2020-03-15 15:44:35,2020-07-15 15:44:35,NaN,True
2,496617,26844789,enhanced,3.0,regional,replace OTT,36.001186,2.0,25.0,True,...,0.1101,ar,NaN,14,False,0,NaN,NaN,NaN,True
3,356799,29417030,base,NaN,drama,replace OTT,20.051667,NaN,30.0,False,...,0.0367,ar,NaN,14,False,0,NaN,NaN,NaN,True
4,681701,26723159,base,4.0,comedy,replace OTT,22.951579,3.0,28.0,False,...,0.0367,ar,NaN,14,True,2,2020-02-19 12:57:07,2020-06-19 12:57:07,NaN,True

In [4]:
subscriber.describe()

,Unnamed: 0,subid,num_weekly_services_utilized,weekly_consumption_hour,num_ideal_streaming_services,age,months_per_bill_period,monthly_price,discount_price,join_fee,num_trial_days,payment_period
count,227628.000000,2.276280e+05,117178.000000,189698.000000,115458.000000,1.924590e+05,227628.0,227628.000000,227628.000000,192724.000000,227628.000000,227628.000000
mean,341129.200041,2.498624e+07,3.008824,27.997724,2.061260,7.579755e+02,4.0,4.732049,4.512188,0.115145,13.989544,0.790122
std,197094.201084,2.885543e+06,0.820526,4.976341,0.245907,1.920204e+05,0.0,0.101049,0.097078,0.176971,0.382453,0.777713
min,1.000000,2.000001e+07,0.000000,-32.146760,-1.000000,0.000000e+00,4.0,0.807400,0.770700,-0.660600,0.000000,0.000000
25%,170766.250000,2.248998e+07,2.000000,24.401536,2.000000,3.500000e+01,4.0,4.734300,4.514100,0.036700,14.000000,0.000000
50%,340985.500000,2.497011e+07,3.000000,27.301448,2.000000,4.600000e+01,4.0,4.734300,4.514100,0.036700,14.000000,1.000000
75%,511844.000000,2.749020e+07,3.000000,30.201361,2.000000,5.700000e+01,4.0,4.734300,4.514100,0.110100,14.000000,1.000000
max,682885.000000,2.999998e+07,14.000000,76.599962,7.000000,8.172000e+07,4.0,5.101300,5.027900,0.734000,14.000000,3.000000

In [5]:
subscriber.isnull()

,Unnamed: 0,subid,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,male_TF,...,join_fee,language,payment_type,num_trial_days,current_sub_TF,payment_period,last_payment,next_payment,cancel_date,trial_completed
0,False,False,False,True,False,False,True,True,True,False,...,True,False,False,False,False,False,False,False,True,False
1,False,False,False,True,False,False,False,True,False,False,...,False,False,True,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,True,True,True,False
3,False,False,False,True,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,True,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227623,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
227624,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
227625,False,False,False,True,False,False,False,True,False,False,...,False,False,True,False,False,False,False,False,True,False
227626,False,False,False,True,False,False,True,True,True,False,...,True,False,False,False,False,False,False,False,True,False
227627,False,False,False,True,False,False,False,True,False,False,...,False,False,True,False,False,False,True,True,False,False

In [6]:

subscriber.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227628 entries, 0 to 227627
Data columns (total 31 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Unnamed: 0                    227628 non-null  int64
 1   subid                         227628 non-null  int64
 2   package_type                  192054 non-null  object
 3   num_weekly_services_utilized  117178 non-null  float64
 4   preferred_genre               191302 non-null  object
 5   intended_use                  224079 non-null  object
 6   weekly_consumption_hour       189698 non-null  float64
 7   num_ideal_streaming_services  115458 non-null  float64
 8   age                           192459 non-null  float64
 9   male_TF                       227359 non-null  object
 10  country                       227628 non-null  object
 11  attribution_technical         227628 non-null  object
 12  attribution_survey            224984 non-null  object
 13  op_sys                        214253 non-null  object
 14  months_per_bill_period        227628 non-null  int64
 15  plan_type                     227628 non-null  object
 16  monthly_price                 227628 non-null  float64
 17  discount_price                227628 non-null  float64
 18  account_creation_date         227628 non-null  object
 19  trial_end_date                227628 non-null  object
 20  initial_credit_card_declined  227628 non-null  bool
 21  join_fee                      192724 non-null  float64
 22  language                      227628 non-null  object
 23  payment_type                  92050 non-null   object
 24  num_trial_days                227628 non-null  int64
 25  current_sub_TF                227628 non-null  bool
 26  payment_period                227628 non-null  int64
 27  last_payment                  132237 non-null  object
 28  next_payment                  130250 non-null  object
 29  cancel_date                   36831 non-null   object
 30  trial_completed               227628 non-null  bool
dtypes: bool(3), float64(7), int64(5), object(16)
memory usage: 49.3+ MB

In [7]:
#delete the rows with null value in join_fee column
subscriber.drop('Unnamed: 0', axis=1, inplace=True)
subscriber.dropna(subset=['join_fee'],inplace=True)
subscriber.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192724 entries, 1 to 227627
Data columns (total 30 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   subid                         192724 non-null  int64
 1   package_type                  157150 non-null  object
 2   num_weekly_services_utilized  117178 non-null  float64
 3   preferred_genre               156398 non-null  object
 4   intended_use                  189175 non-null  object
 5   weekly_consumption_hour       189698 non-null  float64
 6   num_ideal_streaming_services  115458 non-null  float64
 7   age                           192459 non-null  float64
 8   male_TF                       192455 non-null  object
 9   country                       192724 non-null  object
 10  attribution_technical         192724 non-null  object
 11  attribution_survey            190080 non-null  object
 12  op_sys                        179349 non-null  object
 13  months_per_bill_period        192724 non-null  int64
 14  plan_type                     192724 non-null  object
 15  monthly_price                 192724 non-null  float64
 16  discount_price                192724 non-null  float64
 17  account_creation_date         192724 non-null  object
 18  trial_end_date                192724 non-null  object
 19  initial_credit_card_declined  192724 non-null  bool
 20  join_fee                      192724 non-null  float64
 21  language                      192724 non-null  object
 22  payment_type                  57146 non-null   object
 23  num_trial_days                192724 non-null  int64
 24  current_sub_TF                192724 non-null  bool
 25  payment_period                192724 non-null  int64
 26  last_payment                  107926 non-null  object
 27  next_payment                  106120 non-null  object
 28  cancel_date                   32725 non-null   object
 29  trial_completed               192724 non-null  bool
dtypes: bool(3), float64(7), int64(4), object(16)
memory usage: 41.7+ MB

In [8]:
subscriber['join_fee'].value_counts()
subscriber.drop(subscriber[subscriber.join_fee < 0].index, inplace=True)

In [9]:
subscriber.info()
subscriber['join_fee'].value_counts()
subscriber['trial_completed'].value_counts()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192711 entries, 1 to 227627
Data columns (total 30 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   subid                         192711 non-null  int64
 1   package_type                  157140 non-null  object
 2   num_weekly_services_utilized  117172 non-null  float64
 3   preferred_genre               156388 non-null  object
 4   intended_use                  189163 non-null  object
 5   weekly_consumption_hour       189686 non-null  float64
 6   num_ideal_streaming_services  115453 non-null  float64
 7   age                           192446 non-null  float64
 8   male_TF                       192442 non-null  object
 9   country                       192711 non-null  object
 10  attribution_technical         192711 non-null  object
 11  attribution_survey            190068 non-null  object
 12  op_sys                        179341 non-null  object
 13  months_per_bill_period        192711 non-null  int64
 14  plan_type                     192711 non-null  object
 15  monthly_price                 192711 non-null  float64
 16  discount_price                192711 non-null  float64
 17  account_creation_date         192711 non-null  object
 18  trial_end_date                192711 non-null  object
 19  initial_credit_card_declined  192711 non-null  bool
 20  join_fee                      192711 non-null  float64
 21  language                      192711 non-null  object
 22  payment_type                  57141 non-null   object
 23  num_trial_days                192711 non-null  int64
 24  current_sub_TF                192711 non-null  bool
 25  payment_period                192711 non-null  int64
 26  last_payment                  107921 non-null  object
 27  next_payment                  106115 non-null  object
 28  cancel_date                   32723 non-null   object
 29  trial_completed               192711 non-null  bool
dtypes: bool(3), float64(7), int64(4), object(16)
memory usage: 41.7+ MB

True     168221
False     24490
Name: trial_completed, dtype: int64

In [10]:
Group_no_trial_fee=subscriber[(subscriber['join_fee']==0) & (subscriber['trial_completed']== True)]
Group_low_trial_fee=subscriber[(subscriber['join_fee']==0.0367) & (subscriber['trial_completed']== True)]

In [11]:
#conversion are the people who completed the trial and their payment period is more than or equall to 1
#conversion rate in group_no_trial_fee
conversion_no_trial_fee=Group_no_trial_fee[(Group_no_trial_fee['payment_period'] >= 1)].subid.count()/Group_no_trial_fee.subid.count()
print(conversion_no_trial_fee)

0.6159525288070102

In [12]:
#conversion rate in group_low_trial_fee
conversion_low_trial_fee=Group_low_trial_fee[(Group_low_trial_fee['payment_period'] >= 1)].subid.count()/Group_low_trial_fee.subid.count()
print(conversion_low_trial_fee)

0.6462500656961161

In [19]:
#null hypo: p_middle <= p_low
#alternative hypo: p_middle>p_low
import math
import scipy
import scipy.stats as st

In [29]:
#z-score
n =Group_low_trial_fee.shape[0]

numerator = conversion_low_trial_fee-conversion_no_trial_fee
denominator = math.sqrt((conversion_no_trial_fee*(1-conversion_no_trial_fee))/n)

numerator / denominator

19.213717811433114

In [15]:
# calculate z critical value = 1.6448536269514722
scipy.stats.norm.ppf(1-.05)

1.6448536269514722

In [16]:
#z-score > z critical value, reject null hypothesis.
#There is enough evidence (alpha = 5%) to support the claim that low  trial fee=0.0367 improves conversion rates.

# AB_test 2

In [24]:
Group_middle_trial_fee=subscriber[(subscriber['join_fee']==0.1101) & (subscriber['trial_completed']== True)]

In [25]:
conversion_middle_trial_fee=Group_middle_trial_fee[(Group_middle_trial_fee['payment_period'] >= 1)].subid.count()/Group_middle_trial_fee.subid.count()
print(conversion_middle_trial_fee)

0.7131206771962424

In [26]:
#null hypo: p_middle <= p_low
#alternative hypo: p_middle>p_low
import math
import scipy
import scipy.stats as st

In [28]:
#z score
n =Group_middle_trial_fee.shape[0]

numerator = conversion_middle_trial_fee-conversion_low_trial_fee
denominator = math.sqrt((conversion_low_trial_fee*(1-conversion_low_trial_fee))/n)

numerator / denominator

13.765166232532485

In [ ]:
#z-score > z critical value, reject null hypothesis.
#There is enough evidence (alpha = 5%) to support the claim that middle trial fee=0.1101 improves conversion rates.

# AB_test 3

In [30]:
Group_high_trial_fee=subscriber[(subscriber['join_fee']==0.6606) & (subscriber['trial_completed']== True)]

In [31]:
conversion_high_trial_fee=Group_high_trial_fee[(Group_high_trial_fee['payment_period'] >= 1)].subid.count()/Group_high_trial_fee.subid.count()
print(conversion_high_trial_fee)

0.6494156928213689

In [ ]:
#null hypo: p_high <= p_middle
#alternative hypo: p_high>p_middle

In [32]:
#z-score
n =Group_high_trial_fee.shape[0]

numerator = conversion_high_trial_fee-conversion_middle_trial_fee
denominator = math.sqrt((conversion_middle_trial_fee*(1-conversion_middle_trial_fee))/n)

numerator / denominator

-14.624867468671413

In [ ]:
#z score < z critial value, do not reject null hypotheis, we can't say the high trial fee improve the conversion rate